{
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "extends": [
    "stylelint-config-recommended-scss"
  ],
  "rules": {
    "plugin/selector-bem-pattern": {
      "preset": "suit"
  }
  }
}
